In [1]:
import pandas as pd

#transform data in a table
df = pd.read_csv("transform.csv")
df

         day  kenya  tanzania  uganda
0     Monday     21        31      41
1    Tuesday     22        32      42
2  Wednesday     23        33      43
3   Thursday     24        34      44
4     Friday     25        35      45
5   Saturday     26        36      46
6     Sunday     27        37      47

In [11]:
df1 = pd.melt(df, id_vars=["day"],var_name="city", value_name="temperature")
#df1[df1["variable"]=="kenya"]

df1

          day      city  temperature
0      Monday     kenya           21
1     Tuesday     kenya           22
2   Wednesday     kenya           23
3    Thursday     kenya           24
4      Friday     kenya           25
5    Saturday     kenya           26
6      Sunday     kenya           27
7      Monday  tanzania           31
8     Tuesday  tanzania           32
9   Wednesday  tanzania           33
10   Thursday  tanzania           34
11     Friday  tanzania           35
12   Saturday  tanzania           36
13     Sunday  tanzania           37
14     Monday    uganda           41
15    Tuesday    uganda           42
16  Wednesday    uganda           43
17   Thursday    uganda           44
18     Friday    uganda           45
19   Saturday    uganda           46
20     Sunday    uganda           47

In [13]:
sdf = pd.read_excel("stack.xlsx", header=[0,1])
sdf

  Unnamed: 0_level_0    price                  price to earning ratio         \
             company facebook google microsoft               facebook google
0         2020-02-01      111    122       133                  25.02  31.12
1         2020-02-02      112    123       131                  21.23  32.23
2         2020-02-03      113    124       132                  22.22  33.36
3         2020-02-04      114    125       134                  25.24  34.36
4         2020-02-05      115    126       135                  26.25  35.31


  microsoft
0     12.25
1     13.32
2     13.54
3     15.60
4     17.66

In [24]:
df_stacked = sdf.stack(level=1,future_stack=True)
df_stacked

            Unnamed: 0_level_0  price  price to earning ratio
0 company           2020-02-01    NaN                     NaN
  facebook                 NaT  111.0                   25.02
  google                   NaT  122.0                   31.12
  microsoft                NaT  133.0                   12.25
1 company           2020-02-02    NaN                     NaN
  facebook                 NaT  112.0                   21.23
  google                   NaT  123.0                   32.23
  microsoft                NaT  131.0                   13.32
2 company           2020-02-03    NaN                     NaN
  facebook                 NaT  113.0                   22.22
  google                   NaT  124.0                   33.36
  microsoft                NaT  132.0                   13.54
3 company           2020-02-04    NaN                     NaN
  facebook                 NaT  114.0                   25.24
  google                   NaT  125.0                   34.36
  microsoft                NaT  134.0                   15.60
4 company           2020-02-05    NaN                     NaN
  facebook                 NaT  115.0                   26.25
  google                   NaT  126.0                   35.31
  microsoft                NaT  135.0                   17.66

In [19]:
df_stacked.unstack()

             company                                        facebook         \
  Unnamed: 0_level_0 price price to earning ratio Unnamed: 0_level_0  price
0         2020-02-01   NaT                    NaT                NaN  111.0
1         2020-02-02   NaT                    NaT                NaN  112.0
2         2020-02-03   NaT                    NaT                NaN  113.0
3         2020-02-04   NaT                    NaT                NaN  114.0
4         2020-02-05   NaT                    NaT                NaN  115.0

                                     google                                \
  price to earning ratio Unnamed: 0_level_0  price price to earning ratio
0                  25.02                NaN  122.0                  31.12
1                  21.23                NaN  123.0                  32.23
2                  22.22                NaN  124.0                  33.36
3                  25.24                NaN  125.0                  34.36
4                  26.25                NaN  126.0                  35.31

           microsoft
  Unnamed: 0_level_0  price price to earning ratio
0                NaN  133.0                  12.25
1                NaN  131.0                  13.32
2                NaN  132.0                  13.54
3                NaN  134.0                  15.60
4                NaN  135.0                  17.66

In [25]:
#crosstab

cdf = pd.read_csv("pricetest.csv")
cdf

                         Product Customer   P1   34
0                   Alice Mutton    ANTON   23   67
1                   Alice Mutton    BERGS   23  123
2                   Alice Mutton    BOLID   23   14
3                   Alice Mutton    BOTTM   23    4
4                   Alice Mutton    ERNSH   34  134
..                           ...      ...  ...  ...
61  Chef Anton's Cajun Seasoning    MAGAA   36   13
62  Chef Anton's Cajun Seasoning    QUEEN  325    3
63  Chef Anton's Cajun Seasoning    QUICK  563   36
64  Chef Anton's Cajun Seasoning    TRADH   47  133
65  Chef Anton's Cajun Seasoning    WARTH   36   63

[66 rows x 4 columns]

In [33]:
pd.crosstab(cdf.Customer,[cdf.Product,cdf.P1],margins=True)

Product  Alice Mutton                         Aniseed Syrup  ...  \
P1                 23 24 25 34 35 45 53 56 75            23  ...
Customer                                                     ...
ALFKI               0  0  0  0  0  0  0  0  0             1  ...
ANATR               0  0  0  0  0  0  0  0  0             0  ...
ANTON               1  0  0  0  0  0  0  0  0             0  ...
AROUT               0  0  0  0  0  0  0  0  0             0  ...
BERGS               1  0  0  0  0  0  0  0  0             0  ...
BOLID               1  0  0  0  0  0  0  0  0             0  ...
BONAP               0  0  0  0  0  0  0  0  0             0  ...
BOTTM               1  0  0  0  0  0  0  0  0             0  ...
BSBEV               0  0  0  0  0  0  0  0  0             0  ...
CHOPS               0  0  0  0  0  0  0  0  0             0  ...
EASTC               0  0  0  0  0  0  0  0  0             0  ...
ERNSH               0  0  0  1  0  0  0  0  0             0  ...
FAMIA               0  0  0  0  0  0  0  0  0             0  ...
FOLKO               0  0  0  0  0  0  0  0  0             0  ...
FRANK               0  0  0  0  0  0  0  0  0             0  ...
FRANS               0  0  0  0  0  0  0  0  0             0  ...
FURIB               0  0  0  0  0  0  0  0  0             0  ...
GODOS               0  0  0  0  0  1  0  0  0             0  ...
GOURL               0  0  0  0  0  0  0  0  0             0  ...
HILAA               0  0  0  0  0  0  0  0  0             0  ...
HUNGC               0  0  0  0  0  0  0  1  0             0  ...
LAZYK               0  0  0  0  0  0  0  0  0             0  ...
LEHMS               0  0  0  0  0  0  0  0  0             0  ...
LINOD               0  0  0  0  0  0  0  0  0             0  ...
MAGAA               0  0  0  0  0  0  0  0  0             0  ...
MEREP               0  0  0  0  0  0  0  0  0             0  ...
OTTIK               0  0  0  0  0  0  0  0  0             0  ...
PERIC               0  0  0  0  0  0  0  0  0             0  ...
PICCO               1  0  0  0  0  0  0  0  0             0  ...
QUEEN               0  0  0  0  0  0  0  0  0             0  ...
QUICK               0  0  0  0  0  0  0  0  0             0  ...
RANCH               0  0  0  0  0  0  0  0  0             0  ...
RATTC               0  0  0  0  0  0  0  0  1             0  ...
REGGC               0  0  0  0  0  0  1  0  0             0  ...
RICAR               0  0  0  0  0  0  0  0  0             0  ...
RICSU               0  0  0  0  0  0  0  0  0             0  ...
SAVEA               0  0  1  0  0  0  0  0  0             0  ...
SEVES               0  0  0  0  1  0  0  0  0             0  ...
TRADH               0  0  0  0  0  0  0  0  0             0  ...
TRAIH               0  0  0  0  0  0  0  0  0             0  ...
VAFFE               0  0  0  0  0  0  0  0  0             0  ...
WARTH               0  0  0  0  0  0  0  0  0             0  ...
WHITC               0  1  0  0  0  0  0  0  0             0  ...
WOLZA               0  0  0  0  0  0  0  0  0             0  ...
All                 5  1  1  1  1  1  1  1  1             1  ...

Product  Camembert Pierrot        Chef Anton's Cajun Seasoning               \
P1                      63 76 156                            6 34 36 47 325
Customer
ALFKI                    0  0   0                            0  0  0  0   0
ANATR                    0  0   0                            0  0  0  0   0
ANTON                    0  0   0                            0  0  0  0   0
AROUT                    0  0   0                            0  0  0  0   0
BERGS                    0  0   0                            0  0  1  0   0
BOLID                    0  0   0                            0  0  0  0   0
BONAP                    0  0   0                            0  0  1  0   0
BOTTM                    0  0   0                            0  0  0  0   0
BSBEV                    0  0   0                            0  0  0  0   0
CHOPS                    0  0   0                            0  0  0  0   0
EASTC                    0  0   0                            0  1  0  0   0
ERNSH                    0  0   0                            0  0  0  0   0
FAMIA                    0  0   0                            0  0  0  0   0
FOLKO                    0  0   0                            0  0  1  0   0
FRANK                    0  0   0                            0  0  0  0   0
FRANS                    0  0   0                            0  0  0  0   0
FURIB                    0  0   1                            1  0  0  0   0
GODOS                    0  0   0                            0  0  0  0   0
GOURL                    0  0   0                            0  0  0  0   0
HILAA                    0  0   0                            0  0  0  0   0
HUNGC                    0  0   0                            0  0  0  0   0
LAZYK                    0  0   0                            0  0  0  0   0
LEHMS                    0  0   0                            0  0  0  0   0
LINOD                    0  0   0                            0  0  0  0   0
MAGAA                    0  0   0                            0  0  1  0   0
MEREP                    0  0   0                            0  0  0  0   0
OTTIK                    1  0   0                            0  0  0  0   0
PERIC                    0  0   0                            0  0  0  0   0
PICCO                    0  0   0                            0  0  0  0   0
QUEEN                    0  0   0                            0  0  0  0   1
QUICK                    0  0   0                            0  0  0  0   0
RANCH                    0  0   0                            0  0  0  0   0
RATTC                    0  0   0                            0  0  0  0   0
REGGC                    0  0   0                            0  0  0  0   0
RICAR                    0  0   0                            0  0  0  0   0
RICSU                    0  0   0                            0  0  0  0   0
SAVEA                    0  0   0                            0  0  0  0   0
SEVES                    0  0   0                            0  0  0  0   0
TRADH                    0  0   0                            0  0  0  1   0
TRAIH                    0  0   0                            0  0  0  0   0
VAFFE                    0  0   0                            0  0  0  0   0
WARTH                    0  0   0                            0  0  1  0   0
WHITC                    0  0   0                            0  0  0  0   0
WOLZA                    0  1   0                            0  0  0  0   0
All                      1  1   1                            1  1  5  1   1

Product      All
P1       563
Customer
ALFKI      0   1
ANATR      0   1
ANTON      0   2
AROUT      0   1
BERGS      0   4
BOLID      0   1
BONAP      0   2
BOTTM      0   4
BSBEV      0   1
CHOPS      0   1
EASTC      0   1
ERNSH      0   2
FAMIA      0   1
FOLKO      0   1
FRANK      0   1
FRANS      0   1
FURIB      0   2
GODOS      0   1
GOURL      0   1
HILAA      0   1
HUNGC      0   1
LAZYK      0   1
LEHMS      0   2
LINOD      0   1
MAGAA      0   2
MEREP      0   1
OTTIK      0   2
PERIC      0   1
PICCO      0   1
QUEEN      0   3
QUICK      1   4
RANCH      0   1
RATTC      0   1
REGGC      0   1
RICAR      0   1
RICSU      0   1
SAVEA      0   3
SEVES      0   1
TRADH      0   1
TRAIH      0   1
VAFFE      0   2
WARTH      0   2
WHITC      0   1
WOLZA      0   1
All        1  66

[45 rows x 46 columns]